:root {
  --primary: #3e405b;
  --orange: #de7a5f;
  --background: #f1ecff;
  --white: #ffffff;
  --text-title: #3c3e54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font: 16px 'Poppins', Arial, sans-serif;
  background: var(--background);
  color: #121214;
}

input,
textarea {
  font-family: 'Poppins';
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
